input[type=submit]{
    background-color: black;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
body {
    background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/best-board-games-2018-1538589179.jpg?crop=1.00xw:1.00xh;0,0&resize=1200:*');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    border: 2px solid black;
}

div.transbox {
    margin: 5px;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;

}

div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #000000;
    text-align: center;
}
div.titre{
    font-size: 100px;
}
