body {
    background-image: url("https://images.pexels.com/photos/1323712/pexels-photo-1323712.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    border: 2px solid black;
}



div.jeu{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
    text-decoration: underline rgba(131, 0, 132,10);

}
input[type=submit] {
    width: 100px;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin-left: 45%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}
box{
    margin: 40%;
}

input[type=submit]:hover {
    background-color: rgba(131, 0, 132,10);
}
table{
    width:70%;
    margin-left: 15%;
}
button{
    margin-left: 4%;
    cursor: pointer;
    width: 80px;

}
button:hover{
    background-color: purple;
    color: black;
}
td{
    text-align: center;
}
tr{
    height: 50px;
}

div.transbox {
    width: 300px;
    height: 700px;
    background-color: hsla(15, 16%, 97%, 0.8);
    margin-left: 900px;
    margin-top: -100px;
    text-align: center;
    font-weight: bold;
    display: inline-block;
}

span{
    display: inline-block;
}

input[type=submit].avis {
    width: auto;
    color: white;
    height: auto;
    border: none;
    cursor: pointer;
    font-weight: bold;
    background-color: plum;
    font-size: 12px;
    margin-left: 10%;
}
input[type=submit]:hover.avis {
    background-color: #cccccc;
}

div.critique {
    font-weight: bold;
    font-size=40px;
    margin-left: 50px;
    text-decoration: underline;
}

table.table1{
    margin-left: 50px;
    text-align: center;
    width: 60%;
}


input[type=submit].critique {
    width: auto;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    background-color: plum;
}

div.texte{
    text-align: center;
    font-size : 20px
}